/*.navbar-brand{*/
/*    background: url("../img/logo.jpg") no-repeat;*/
/*    background-size: 35px 35px;*/
/*    background-position: 0px 14px;*/
/*    padding-left: 40px;*/
/*    color: #333 !important;*/
/*    font-size:22px;*/
/*    font-weight: bolder;*/
/*}*/
#admin_top{
    z-index: 1;/*垂直距离*/
}
.navbar-brand{
    color: #eee !important;
    position: relative;
    padding-left: 66px;
}
.navbar-brand >i{
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 26px;
    left: 16px;
}
.navbar-inverse >div>a{
    color: #fff;
    position: relative;/**相对定位**/
    display: block;
    width: 50px;
    height: 70px;
    line-height: 40px;

}
.navbar-inverse >div>a:hover{
    text-decoration: none;


}
.navbar-inverse >div>a>i{
    font-size: 30px;
    position: absolute;/**绝对定位**/
    top:20px;
    right: 0px;
}
.login_info{
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 24px;
    padding-right: 26px;
}
.login_info>i{
    font-size: 20px;
}
/**侧边栏样式*/
#slid_bar{
    width: 220px;
    background: #f0f0f0;
    margin-top: -20px;
    float: left;
}
.sidlebar_title{
    width: 220px;
    height: 55px;
    position: relative;/*相对*/
    padding-left: 10px;
    background: #f0f0f0;
    z-index: 1;/*垂直方向高度*/
}
.sidlebar_title>p{
    margin: 0px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px #ccc solid;
    width: 210px;
    padding-bottom: 5px;

}
.sidlebar_title>p>span:first-child{
    font-size: 16px;
}
.sidlebar_title>p>span:last-child{
    font-size: 11px;
}
.sidlebar_content{
    width: 220px;
    height: 100%;
    background: #f0f0f0;
    z-index: 0;/*垂直方向高度*/
    padding-top: 135px;
    overflow-x: hidden;
    overflow-y: scroll;/*y轴过长生成下滑滚轴*/
    padding-left: 10px;

}
.sidlebar_content >a{
    color: #333;
    text-decoration: none;/*下划线*/
    display: block;
}

.sidlebar_content >a >i{
    padding-right: 10px;
    color:#23527c;
}
.sidlebar_content>ul{


}
.sidlebar_content>ul>li{
    list-style: none;
    padding-top: 5px;/*padding-top: 10px;*/

}

.sidlebar_content>ul>li>a{
    color: #23527c;
    text-decoration: none;

}
.sidlebar_content>ul>li>a:hover{
    color: #2aabd2;

}

.sidlebar_content>ul>li>a>i{
    color: #23527c;
    font-weight: bolder;
    padding-right: 5px;
}
.sidlebar_content>ul>li>ul>li{
    text-decoration: none;
    list-style: none;

}
/*路径导航*/
#path_nav{
    margin-left: 240px;
    padding-right: 10px;
}
.breadcrumb{
    background: #fff !important;
    margin: 0;
    border-bottom: 1px #ccc solid;
    border-radius: 0;
}
#iframe-contant{
    z-index: -1;
    padding-left: 240px;
    padding-top: 145px;
}