input,
input:focus{
    border: 1px #ccc solid !important;
    box-shadow: none !important;
    outline: none !important;
}
.btn:focus,
.btn.active:focus,
.btn.focus,
.btn.active.focus,
.btn.active.focus{
    outline: none !important;
    box-shadow: none !important;
}
.search_title_bar{
    height: 39px;
    background: #031F8D;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;/*字体颜色*/
    line-height: 39px;
    font-size: 15px;
    padding-left: 20px;
}
#search_form{
    margin-top: 10px;
}
#search_form > div> input{
    width: 170px;
    padding-right: 30px;

}
#search_btn{
    margin-top: 15px;
    padding-right: 10px;
}
#search_btn>button,
#pager>div>button{
    height: 30px;
    line-height: 16px;
    width: 85px;
    margin-left: 6px;
    background: #fff;
    border: 1px solid #ccc;
}
#search_btn>button:hover,
#pager>div>button:hover{
    background: #031F8D;
    color: #fff;
}
#content_table{
    margin-top: 15px;
    padding-right: 10px;
}
#content_table >div>table tr:first-child{/*不用大括号的原因是:元素table下的直接子元素*/
    background: #031F8D;
    color: #fff;

}
#content_table >div>table tr:first-child>td{
    border: 1px solid #031F8D;
}
#pager{
    padding-right: 10px;
    margin-bottom: 20px;
}
#pager>p{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
#pager>p>span{
    font-weight: bolder;
    color: #031F8D;
    font-size: 16px;
}


























